.bill-parent {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 2%;
    margin: 2%;
    /* animation: addUserFormEnter 1.2s ease-in; */
}

.bill-tr{
    border-bottom: 1px solid gray;
}